body{
    background:steelblue;
}

.boardPiece{
    border-spacing: 1px;
    background:whitesmoke;
    text-align: center;
    font-size: 30px;
    display: table;
    line-height: 132px;

}
.mainDiv{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display:grid;
    grid-gap: 1px;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto;
    height: 400px;
    width: 400px;
}
.invisibleText{
    color: whitesmoke;
}
.preGame{
    visibility: hidden;
}
.buttons{
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
}
.player{
    height:100px;
    width:100px;
    border-radius: 25%;
}