body{
    background:steelblue;
}

.boardPiece{
    border-spacing: 1px;
    background:whitesmoke;
    text-align: center;
    font-size: 30px;
    display: table;
    line-height: 132px;

}
.mainDiv{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display:grid;
    grid-gap: 1px;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto;
    height: 400px;
    width: 400px;
}
.invisibleText{
    color: whitesmoke;
}
.preGame{
    visibility: hidden;
}
.player{
    height:100px;
    width:100px;
    border-radius: 25%;
}
.endGameControls{
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
    height: 100px;
    width: 300px;
    border-radius: 20%;
    text-align: center;
}
.controlButton{
    height:20px;
    width: 100px;
    text-align: center;
}
.scores{
    background: whitesmoke;
    border-style: solid;
    border-width: 1px;
    border-radius: 15%;
    box-shadow: 3px 3px 4px;
    text-align: center;
}
.Score2{
    float: right;
}
.Score1{
    float:left;
}
#p1buttons{
    float:left;
    width: 200px;
    background: whitesmoke;
}
#p2buttons{
    float:right;
    width: 200px;
    background: whitesmoke;
}
.buttons{
    text-align:center;
    width: auto;
}
